@media screen and (min-width: 800px) {
    #hamburger {
        margin-right: 100px;
    }
   /* .image-section{
        width: 100%;
        float: none;
    }
    .content{
        width: 100%; 
        float: none;
        margin-left: 0;
     }
     .content h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    .content h2{
        font-size: 30px;
    
    }
    .content p{
        font-size: 18px;
    }
    */
}