@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 1.5rem;
    }
    *{
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    header {
        border-radius: 20px;
    }

    footer {
        border-radius: 20px;
    }

    header img {
        float: right;
    }
}
.header{
    min-height: 20vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: red;
    text-decoration: none;
    font-size: 17px;
    padding: .8rem 2vw;
}
nav ul li a {
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li::after{
    width: 100%;
}
main {
    background-color: aquamarine;
    font-size: 16px;
    width: 100%;
    height: 550px;
    font-family: sans-serif;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
